<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@4.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-w-0">
    <!-- Header -->
    <div id="header"></div>
    <!-- Hero Seaction -->
    <div id="hero-section"></div>

    <!-- Now in Theaters -->
    <div id="now-in-theaters"></div>

    <!-- Explore What's streaming -->
    <div id="explore-whats-streaming"></div>

    <div id="top-pick"></div>

    <!-- Footer -->
    <div id="footer"></div>

    <script src="../scripts/main.js"></script>
  </body>
</html>
