<footer class="flex-wrap h-96 bg-bg-0 text-lg flex justify-around text-w-0 p-6"
style="padding: 80px 0px; ">
  <div class="">
    <h3 class="font-bold">MVReview</h3>
    <p class="w-32  class="text-bg-3">
      Your ultimate destination for <br />
      movie reviews and ratings.
    </p>
  </div>

  <div>
    <h3 class="font-bold">Quick Links</h3>
    <ul class="space-y-2">
      <li class="text-bg-1" style="color: #ffffff95;" >About Us</li>
      <li class="text-bg-1" style="color: #ffffff95;">Contact</li>
      <li class="text-bg-1" style="color: #ffffff95;">Careers</li>
      <li class="text-bg-1" style="color: #ffffff95;">Advertise</li>
    </ul>
  </div>

  <div>
    <h3 class="font-bold">Features</h3>
    <ul class="space-y-2">
      <li class="text-bg-1" style="color: #ffffff95;">Latest Reviews</li>
      <li class="text-bg-1" style="color: #ffffff95;">Top Movies</li>
      <li class="text-bg-1" style="color: #ffffff95;">Coming Soon</li>
      <li class="text-bg-1" style="color: #ffffff95;">Critics' Corner</li>
    </ul>
  </div>

  <div>
    <h3 class="font-bold">Newsletter</h3>
    <p class="text-bg-1" style="color: #ffffff95;">Stay updated with the latest movie reviews and news.</p>

    <aside class="flex flex-row gap-2 items-center">
      <input
        class="border p-2 mt-2 w-full bg-gray-700 rounded-full" style="height: 48px;"
        placeholder="Enter your email"
      />
      <button class="bg-red-700 rounded-full" style="padding: 0px 16px; height: 48px;">Subscribe</button>
    </aside>
  </div>
</footer>
