<div class="h-96 bg-bg-0 text-lg text-w-0 grid grid-cols-4 grid-rows-3">
  <ul>
    <li class="font-bold">MVReview</li>
    <li>Your ultimate destination for movie reviews and ratings.</li>
  </ul>

  <ul>
    <li>Quick Links</li>
    <li>About Us</li>
    <li>Contact</li>
    <li>Careers</li>
    <li>Advertise</li>
  </ul>

  <ul>
    <li>Features</li>
    <li>Latest Reviews</li>
    <li>Top Movies</li>
    <li>Coming Soon</li>
    <li>Critics' Corner</li>
  </ul>

  <ul>
    <li>
      Newsletter
      <p>Stay updated with the latest movie reviews and news.</p>
    </li>
    <input />
  </ul>
</div>
