<header class="bg-bg-0 text-xl items-center p-6 flex text-white justify-start">
  <h1 class="text-3xl text-white font-bold">MVReview</h1>
  <ul class="flex gap-5 flex-row flex-start ml-10 w-full">
    <li
      class="cursor-pointer flex justify-start items-center gap-2 hover:text-yw-0 group"
    >
      <div
        class="w-6 h-6 bg-white group-hover:bg-yellow-300"
        style="
          mask-image: url('../assets/icons/Movie.svg');
          -webkit-mask-image: url('../assets/icons/Movie.svg');
          mask-size: contain;
          -webkit-mask-size: contain;
          mask-repeat: no-repeat;
        "
      ></div>
      Movies
    </li>

    <li
      class="cursor-pointer flex justify-start items-center gap-2 hover:text-yw-0 group"
    >
      <div
        class="w-6 h-6 bg-white group-hover:bg-yellow-300"
        style="
          mask-image: url('../assets/icons/tv.svg');
          -webkit-mask-image: url('../assets/icons/tv.svg');
          mask-size: contain;
          -webkit-mask-size: contain;
          mask-repeat: no-repeat;
        "
      ></div>
      Tv Shows
    </li>

    <li
      class="cursor-pointer flex justify-start items-center gap-2 hover:text-yw-0 group"
    >
      <div
        class="w-6 h-6 bg-white group-hover:bg-yellow-300"
        style="
          mask-image: url('../assets/icons/news.svg');
          -webkit-mask-image: url('../assets/icons/news.svg');
          mask-size: contain;
          -webkit-mask-size: contain;
          mask-repeat: no-repeat;
        "
      ></div>
      News
    </li>

    <li
      class="cursor-pointer flex justify-start items-center gap-2 hover:text-yw-0 group"
    >
      <div
        class="w-6 h-6 bg-white group-hover:bg-yellow-300"
        style="
          mask-image: url('../assets/icons/list.svg');
          -webkit-mask-image: url('../assets/icons/list.svg');
          mask-size: contain;
          -webkit-mask-size: contain;
          mask-repeat: no-repeat;
        "
      ></div>
      Latest Releases
    </li>
  </ul>

  <ul class="flex flex-row gap-4 mr-5 items-center justify-end ml-auto w-full">
    <li class="bg-bg-1 rounded-full h-12 pl-5 flex items-center gap-2 w-[60%]">
      <input
        placeholder="Search Movies..."
        class="border-none outline-none w-full h-fit text-lg font-light"
      />
      <img
        src="../assets/icons/search.svg"
        class="bg-bg-1 rounded-full p-2 w-10 mr-2"
        alt=""
      />
    </li>

    <li
      class="cursor-pointer flex justify-start items-center gap-2 hover:text-yw-0 group"
    >
      <div
        class="w-5 h-5 bg-white group-hover:bg-yellow-300"
        style="
          mask-image: url('../assets/icons/notification.svg');
          -webkit-mask-image: url('../assets/icons/notification.svg');
          mask-size: contain;
          -webkit-mask-size: contain;
        "
      />
    </li>

    <li
      class="cursor-pointer flex justify-start items-center gap-2 hover:text-yw-0 group"
    >
      <div
        class="w-5 h-5 bg-white group-hover:bg-yellow-300"
        style="
          mask-image: url('../assets/icons/profile.svg');
          -webkit-mask-image: url('../assets/icons/profile.svg');
          mask-size: contain;
          -webkit-mask-size: contain;
        "
      ></div>
    </li>
  </ul>
</header>
